* {
    user-select: none;
    transition: 1s;
    &:hover {
        transition: 1s;
    }
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}

.wsi-shadow {
    $size: 2px;
    box-shadow: $size $size $size+2 $size rgba($color: #000000, $alpha: .2);
}

.wsi-shadow-animated {
    $size: 4px;
    box-shadow: $size $size $size+2 $size rgba($color: #000000, $alpha: .2);
    &:hover {
        color: rgb(0, 0, 100);
        box-shadow: $size $size $size+2 $size rgba($color: #000000, $alpha: .4);
    }
}

.title {
    margin: 20px;
    margin-left: 30px;
}