.PortfolioSliderItem{
  height: 300px;
  width: 300px;
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid black;
  img{
    height: 100%;
  }
}


.PortfolioSlider{
  margin: 0;
  padding: 0;
  display: block;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}